<!-- <script src="../vendor/d3.min.js"></script>
<script src="../vendor/topojson.js"></script>
<script src="../vendor/datamaps.all.min.js"></script>
<script src="../vendor/angular-datamaps.min.js"></script>

<datamap
  options="map.options"
  data="map.data"
  colors="map.colors"
  type="{{ map.type }}"
  on-click="updateActiveGeography"
  >
</datamap> -->


<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="../vendor/datamaps.all.min.js"></script>


<!-- styling for table -->
<style>
/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px;
}
table tr:nth-child(odd)	{
  background-color: #ADD8E6;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/
</style>


</head>
<body>
<div class="form-group">
  <form ng-submit="query()">
    <label for="from">Search:</label>
    <input type="text" ng-model="word" id="word">
    <label for="start">Start Date:</label>
    <input id="start" ng-model="startDate" value={{(startDate|date)||""}}>
    <label for="end">End Date:</label>
    <input id="end" ng-model="endDate" value={{(endDate|date)||""}}>
    <span class="dropdown">
      <a class="dropdown-toggle btn btn-danger">
        {{(startDate|date)||"pick start"}} - {{(endDate|date)||"pick end"}}
      </a>

      <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
        <div date-range start="startDate" end="endDate"></div>
      </div>
    </span>
    <input type="submit" id="submit" value="Submit" />
  </form>
</div>
{{getBubbles(map,sent)}}
<div id="container" style="position: relative; width: 1000px; height: 600px;"></div>


<div id="sidebar" class="sidebar"> 
<sidebar>
<table>
  <tr ng-repeat="x in sent | limitTo: 100">
    <td>{{ x.text }}</td>
    <td>{{ x.state }}</td>
    <td>{{ x.city }}</td>
  </tr>
</table>




</sidebar>

</body>
</html>
