<!-- <script src="../vendor/d3.min.js"></script>
<script src="../vendor/topojson.js"></script>
<script src="../vendor/datamaps.all.min.js"></script>
<script src="../vendor/angular-datamaps.min.js"></script>
<datamap
  options="map.options"
  data="map.data"
  colors="map.colors"
  type="{{ map.type }}"
  on-click="updateActiveGeography"
  >
</datamap> -->


<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="../vendor/datamaps.all.min.js"></script>


</head>
<body>
</br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <form ng-submit="query()" name="queryForm">
        <label for="from">Search:</label>
        <input type="text" ng-model="word" id="word">
        <input type="hidden" id="start" ng-model="startDate" value={{(startDate|date)||""}}>
        <input type="hidden" id="end" ng-model="endDate" value={{(endDate|date)||""}}>
        <span class="dropdown">
          <a class="dropdown-toggle btn btn-danger">
            {{(startDate|date)||"Select Start"}} - {{(endDate|date)||"Select End"}}
          </a>

          <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
            <div date-range start="startDate" end="endDate"></div>
          </div>
        </span>
        <input type="submit" id="submit" value="Submit" />
        <button type="button" ng-click="resetForm()">Reset</button>
      </form>
      <div id="container" style="position: relative; width: 1000px; height: 600px;"></div>
    </div>
    <div type="hidden">{{getBubbles(map,sent)}}</div>
    

    <div class="col-md-5">
    <div ng-hide="sent == null">
      <table class="table table-striped ">
          <th>Tweet</th>
          <th>State</th>
          <th>City</th>
          <th></th>
        <tbody ng-repeat="x in sent | filter : paginate">
        <tr ng-if="x.sentiment > 0" class="info">
          <td>{{ x.text }}</td>
          <td>{{ x.state }}</td>
          <td>{{ x.city }}</td>
          <td>{{ x.sentiment }}</td>
        </tr>
         <tr ng-if="x.sentiment < 0" class="danger">
          <td>{{ x.text }}</td>
          <td>{{ x.state }}</td>
          <td>{{ x.city }}</td>
          <td>{{ x.sentiment }}</td>
        </tr>
        <tr ng-if="x.sentiment == 0" class="warning">
          <td>{{ x.text }}</td>
          <td>{{ x.state }}</td>
          <td>{{ x.city }}</td>
          <td>{{ x.sentiment }}</td>
        </tr>
        </tbody>
      </table>
       <pagination total-items="totalItems" ng-model="currentPage"
              max-size="5" boundary-links="true"
              items-per-page="numPerPage" class="pagination-sm">
      </pagination>
      <div>
    </div>
  </div>
</div>

</body>
</html>
