p {
  color: green;
}

#sidebar {
  float: right;
  position: fixed;
  height: 400px;
  margin-right: 25px;
  right: 0;
  top: 85px;
  overflow-y:scroll;
  width:500px;
  /*border: 2px solid black;
  background-color: Aqua;*/
  opacity: 0.6
  .content_sidebar{
  width:300px;
  word-wrap: break-word;
  text-align:center;

}